
{
  "parser" : "babel-eslint",
  "extends": "airbnb-base",
  "env"    : {
    "es6"    : true,
    "node"   : true
  },
  "globals": {
    "__DEV__"     : false,
    "__PROD__"    : false,
    "__DEBUG__"   : false
  },
  "rules"  : {
    // 换行符风格 unix/windows
    "linebreak-style": 0,
    // 一元符 ++ 和 -- 编译时会自动插入分号，空白的差异会改变的源代码的语义
    "no-plusplus": [2, { "allowForLoopAfterthoughts": true }],
    // 如果一个类方法不使用 this，它可以安全地进行静态函数
    "class-methods-use-this": 0,
    // 这条规则可以强制或禁止各地箭头函数体中使用大括号
    "arrow-body-style": 0,
    // 强制要求 require 在顶层模块范围
    "global-require": 0,
    // 驼峰命名
    "camelcase": 0,
    // 此规则旨在消除这对程序的状态没有影响未使用的表达式
    "no-unused-expressions": 0,
    // 修改参数变量可能会产生误导，导致混乱的行为
    "no-param-reassign": [2, { "props": false }],
    // 允许方法提前调用
    "no-use-before-define": [2, { "functions": false }],
    // 禁止在 else 中使用单独 if
    "no-lonely-if": 0,
    "no-underscore-dangle": 0,
  }
}