doctype html
html(lang="zh-cn")
    head
        title="登录"
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0")
    body
        form(action="/login", method="post")
            span 姓名
            input(type="text", name="name")
            input(type="hidden", name="returnUrl", value=returnUrl)
            input(type="hidden", name="code", class="code", value=code)
            input(type="hidden", name="openid", class="openid1", value=openid)
            br
            span openId:
            span(class="openid")
            br
            input(type="submit", value="提交")
        script(src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js")
        script.
          var openid = localStorage.getItem('openid');
          if (!openid) {
            $.ajax({
              type: 'GET',
              url: '/getWebAuth/' + $('.code').val(),
              success: function (response) {
                $('.openid').html(response.openid);
                $('.openid1').val(response.openid);
                localStorage.setItem('openid', response.openid);
              }
            });
          } else {
            $('.openid').html(openid);
            $('.openid1').val(openid);
          }